# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
requests
openai>=1.0.0
pinecone-client>=3.0.0
python-dotenv
huggingface_hub
langdetect
